@property --opacity {
    syntax: '<number>';
    initial-value: -10;
    inherits: false;
}

@property --cone {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
}

#root {
    user-select: none;
    height: 100vh;
}

html, body {
    margin: 0;
    height: 100%;
    background-image: linear-gradient(to bottom right, lightgreen, lightgrey);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#introDiv {
    height: 100%;
    font-size: 200%;
    display: flex;
    align-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

#faniorLoading {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,0);
    font-size: 150%;
}

button {
    padding: 10px 100px;
    white-space: nowrap;
    border-radius: 20px;
    color: black;
    background-color: white;
    font-size: 200%;
    font-weight: bolder;
    margin: 10px 0 20px 0;
    flex: 0 0 auto;
}

    button:hover {
        background-color: lightgray;
    }

    button:active {
        background-color: gray;
        border: 4px solid black;
    }

#name {
    border-width: 2px;
}

#introDiv * {
}

#scoreDiv {
    margin: 10px;
}

#loading {
    font-size: 200%;
    margin: 0;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#fanior {
    font-size: 500%;
    margin: 50px;
    flex: 0 0 auto;
}

#name {
    font-size: 150%;
    margin: 50px;
    flex: 0 0 auto;
}

#coverDiv {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-image: linear-gradient(to bottom right, lightgreen, lightgrey);
    opacity: 0;
}

#app {
}

#statsDiv {
    font-family: arial;
    font-size: 10px;
}

.stats {
    margin: 0 0 8px 0;
    padding: 3px 0 3px 15px;
    background-color: #8080803d;
    border-radius: 10px;
    border: 2px solid #717171;
    width: 150px;
    transition: border 0.2s, background-color 0.2s;
    position: relative;
}


.available .stats:hover {
    border: 2px solid black;
    background-color: #d2d2d2;
    cursor: pointer
}

.statsCoverDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.upgradedTimes {
    font-size: 17px;
    position: absolute;
    right: -33px;
    top: 0;
}

#upgradeDiv {
    user-select: none;
    position: absolute;
    display: flex;
    top: 0px;
    background-image: linear-gradient(to right,#fffffff7 0%, transparent 100%);
    padding: 10px 20px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    left: 0;
    transform: translate(-105%, 0);
    transition: transform 0.5s;
}

    #upgradeDiv.active, #upgradeDiv:hover {
        transform: translate(0, 0)
    }

#upgradePoints {
    user-select: none;
    position: absolute;
    top: 20px;
    left: 52px;
    z-index: 1;
    background-image: radial-gradient(#ff8401 0%, transparent 70%);
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}

#abilityDiv {
    width: 100%;
}

#abilityGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: inherit;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
}

.ability {
    display: flex;
    --opacity: 0.5;
    width: 80px;
    aspect-ratio: 1/1;
    align-content: center;
    justify-content: center;
    transition: --opacity 0.2s;
    cursor: pointer;
}

    .ability:hover {
        --opacity: 1;
    }

    .ability:active {
        --opacity: 1;
        background-image: radial-gradient(rgb(255 var(--opacity) var(--opacity)) 0%, transparent 70%);
    }

    .ability img {
        width: 50px;
        transition: opacity 0.5s;
        opacity: 1;
    }

    .ability p:not(.cost) {
        position: absolute;
        left: 50%;
        transform: translate(-50%,0);
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.5s, visibility 0.4s 0.1s;
        cursor: default;
    }

    .ability:hover p:not(.cost) {
        opacity: 1;
        left: 50%;
        visibility: visible;
        transition: opacity 0.5s, visibility 0.4s 0.1s;
    }

    .ability:hover img {
        opacity: 0.2;
    }

    .ability:hover .cost {
        opacity: 1;
    }

.description {
    font-size: 80%;
    font-style: italic;
    top: calc(50% + 35px);
    width: 80%;
    text-align: center;
}

.name {
    font-size: 110%;
    font-weight: bold;
    top: calc(50% + 1px);
}

.selectedAbility {
    position: absolute;
    bottom: 28px;
    width: 80px;
    height: 80px;
    background-image: radial-gradient(#808080e3 40%, black 68%, transparent 72%);
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    transform: translate(-50%, 0);
}

    .selectedAbility p {
        color: white;
        font-size: 40px;
        cursor: default;
    }

    .selectedAbility img {
        width: 60%;
        animation: 1s ease-out 0s 1 fadeIn;
    }

.abilityE {
    left: calc(80% + 40px);
}

.abilityQ {
    left: calc(20% - 40px);
}

.abilityLoader {
    transform: translate(-50%, 0);
    bottom: 28px;
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.cost {
    transition: opacity 0.5s;
    opacity: 0;
    transform: translate(0%,-50%);
    position: absolute;
    font-size: 35px;
    text-shadow: 0px 0px 2px #000, 0px 0px 5px #ff8900;
}

.character {
}

.immortal {
    animation: 0.4s infinite alternate linear immortality;
}

.Bomb {
    animation: 0.1s infinite alternate ease-out bomb;
}

.PressureWave {
    animation: 0.6s forwards linear wave;
    animation-iteration-count: 1;
    fill: none;
}

#weapons {
    position: absolute;
    top: 50px;
    height: 200px;
    box-shadow: 0px 0px 10px #676d83;
    background-image: radial-gradient(at 50% 500%,black, transparent);
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    transition: top 0.5s;
}

.weaponDiv {
    box-shadow: inset 0 0 10px #ae9090;
    position: relative;
    height: 90%;
    aspect-ratio: 1/1;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    transition: top 0.5s, height 0.5s;
}

    .weaponDiv:hover {
        cursor: pointer;
        height: 95%;
    }

    .weaponDiv p {
        text-align: center;
        position: relative;
        z-index: 2;
        font-size: 20px;
        margin: 7px;
        filter: drop-shadow(0px 0px 2px white);
        box-shadow: 0 0 10px white;
        background-color: beige;
        width: max-content;
        height: min-content;
        padding: 1px 15px;
    }

    .weaponDiv img {
        width: 70%;
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        animation: 3s infinite cubic-bezier(0.36, -0.01, 0.67, 0.98) alternate weaponPulse;
        z-index: 1;
        max-height: 70%;
    }

#weaponNameDiv {
    position: absolute;
    bottom: 100px;
    font-size: 20px;
    left: 50%;
    filter: drop-shadow(0px 0px 6px black);
    transform: translate(-50%, 0);
}

#tutorialDiv {
    position: absolute;
    opacity: 0;
    animation: 4s infinite linear tutorial;
    max-height: calc(100vh - 100px);
    max-width: 20%;
    top: 0;
    left: 0;
    padding: 20px 50px;
    overflow: hidden;
}

    #tutorialDiv img {
        height: 100%;
        width: 100%;
    }

}

#tutorialDiv img:after {
    /*box-shadow: inset 0 0 100px 5px;*/
}

#tutorialDiv p {
    text-align: center;
    font-style: italic;
}

#container {
    display: contents;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes abilityDuration {
    0% {
        --cone: 0deg;
    }

    100% {
        --cone: 360deg;
    }
}


@keyframes abilityReload {
    0% {
        --cone: 360deg;
    }

    100% {
        --cone: 0deg;
    }
}

@keyframes immortality {
    0% {
        fill: blue;
    }

    100% {
        fill: red;
    }
}

@keyframes bomb {
    0% {
        fill: darkblue;
    }

    100% {
        fill: darkred;
    }
}

@keyframes wave {
    0% {
        r: 1px;
        filter: drop-shadow(0px 0px 2px #a29fde) drop-shadow(0px 0px 1px black);
        stroke: #a29fde;
        stroke-width: 5px;
    }

    100% {
        stroke-width: 2px;
        r: 400px;
        stroke: #a29fde7d;
        filter: drop-shadow(0px 0px 10px #a29fde) drop-shadow(0px 0px 20px black);
    }
}

@keyframes weaponPulse {
    0% {
        filter: drop-shadow(0px 0px 2px white) drop-shadow(0px 0px 0px grey);
    }

    100% {
        filter: drop-shadow(0px 0px 10px orange) drop-shadow(0px 0px 20px grey);
    }
}

@keyframes tutorial {
    5% {
        opacity: 0;
    }

    15% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@media screen and (max-width: 1200px) {
    #tutorialDiv {
        display: none;
    }
}
