@inherits LayoutComponentBase
<!DOCTYPE html>
<div class="page">
    <div class="main">
        <div class="content px-4">
            <style>
                body {
                    margin: 0;
                    overflow: hidden;
                }
                svg{
                    outline: none;
                    margin: 0px; 
                    padding: 0px;
                }
            </style>
            @Body

        </div>
    </div>
</div>
